// loader
.loader-wrap {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.2);
}

// common
.layout-center {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  border: 1px solid #eee;
}
